.features-split-icon {
    display: inline-flex;
    border-radius: 50%;
    box-shadow: 0 8px 24px rgba(get-color(dark, 1), .16);
}

@include media( '<=medium' ) {

    .features-split {

        .split-wrap {
    
            &.invert-mobile {
    
                .split-item {
    
                    .split-item-image[class*=illustration-] {
                        // Give more padding to images with illustration
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}